documentoProductorConsumidor.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="documentoProductorConsumidor" type="tipoDocumentoProductorConsumidor" />
	<xsd:complexType name="tipoDocumentoProductorConsumidor">
		<xsd:sequence>
			<xsd:element name="noticias" type="tipoNoticia" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoNoticia">
		<xsd:sequence>
			<xsd:element name="fecha" type="xsd:string" />
			<xsd:element name="interes" type="xsd:string" />
			<xsd:element name="resumen" type="xsd:string" />
			<xsd:element name="noticia" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>